<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, ,maximum-scale=1 ,shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Half Slider - Start Bootstrap Template</title>

         <!-- Bootstrap core CSS -->
        <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href='{% static "css/half-slider.css" %}' rel="stylesheet">

    </head>

    <body>

      <!-- Navigation -->
        <nav id="navig" class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
            <div id="nav-con" class="container"> 
                <div id="logo-con">
                    <img id="logo" src='{% static "pics/profile_pic.jpeg" %}'  alt=""/>
                </div>
                <div class="nav-format">
                    <a class="navbar-brand" href="#">Yo Cool Cats</a>
                </div>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls=" navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul id="page_nav_list" class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home
                            <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cat List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Log In</a>
                        </li>
                    </ul>
                </div>
                
            </div>
             
        </nav>

      

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <div class="card card-outline-secondary my-4">
                <div class="card-body">
                    <div class="row prof-con">
                        <div class="col col-xl-4 col-lg-4 col-md-3 col-sm-3 col-2"></div>
                        <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-8  steel-blue ">
                            <div class="row prof-pic-row">
                                <div class="col col-xl-4 col-lg-4 col-md-3 col-sm-3 col-2"></div>
                                <div id="square-box" class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-8 pic-div">
                                    <div class="square">
                                        <div class="image-circle-post">
                                            <img class="my_image img-fluid" src='{% static "pics/profile_pic.jpeg" %}'  alt=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-xl-4 col-lg-4 col-md-3 col-sm-3 col-2"></div>    
                            </div>
                            <div class="row prof-row">
                                <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 dynamic-font">
                                    Name:
                                </div>
                                <div class="col col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 dynamic-font prof-col">
                                    Samuel
                                </div> 
                            </div>
                            <div class="row prof-row">
                                <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 dynamic-font">
                                    Email:
                                </div>
                                <div class="col col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 dynamic-font prof-col">
                                    samueljegede@77outlook.com
                                </div> 
                            </div>
                            <div class="row prof-row">
                                <div class="col col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 dynamic-font">
                                    <input class="form-control expnd" type="text" placeholder="Enter New Name" id="">
                                </div>
                                <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 dynamic-font tomato button-col">
                                    Enter
                                </div> 
                            </div>
                            <div class="row prof-row">
                                <div class="col col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                                    <label class="btn button-col sky-blue dynamic-font">
                                        Choose Picture <input type="file" hidden>
                                    </label>
                                </div>
                                <div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 dynamic-font tomato button-col">
                                    Upload
                                </div> 
                            </div>
                        </div>   
                        <div class="col col-xl-4 col-lg-4 col-md-3 col-sm-3 col-2"></div>
                    </div>
                </div>  
            </div>
        </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
    <script src='{% static "vendor/js/square.js" %}'></script>
    <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

  </body>

</html>
