<!DOCTYPE html>
{% load staticfiles %}
{% load rest_framework %}
<html>
	<header>
		<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/styles.css' %}" rel="stylesheet">
		<title>PostPencilCase</title>
	</header>
	<body>
		<div class="container">
			<form id="pencilcase_form" class="row  container post-box" method="post" action="" enc="multipart/form-data">
				{% csrf_token %}
				<div class="col-12">
					<h3>
						Add Pencil Case
					</h3>
				</div>
				<div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4">
					Pencil: 
				</div>
				<div class="col col-xl-8 col-lg-8 col-md-8 col-sm-8">
					<input id="pencil_input" type="text" class="width-max">
				</div>
				<div class="w-100"></div>
				<div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4">
					Rubber:
				</div>
				<div class="col col-xl-8 col-lg-8 col-md-8 col-sm-8">
					<input id="rubber_input" type="text" class="width-max">
				</div>
				<div class="w-100"></div>
				<div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4">
					Pen:
				</div>
				<div class="col col-xl-8 col-lg-8 col-md-8 col-sm-8">
					<input id="pen_input" type="text" class="width-max height-button">
				</div>
				<div class="w-100"></div>
				<div class="col-8">
					
				</div>
				 <input id="pic_input" type="file" name="pic" accept="image/*">
				<div class="col-4">
					<button id="case_submit" type="submit" class="width-max height-button green">Submit</button>
				</div>
			</form>
		</div>
	</body>
	<script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/pencilcase_creator.js' %}"></script>
</html>

