<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cat</title>

    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "css/style.css" %}' rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Hello Cat Lovers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">See Cats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Account Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
          </div>
          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="static/pics/classic.jpeg" alt="">
            <div class="card-body">
              <h3 class="card-title">Fluffy</h3>
              <p class="card-text">Breed: Sebrian Forest Cat</p>
              <p class="card-text">This cat has been my rock for a long I cant remember life without him</p>
              
            </div>
          </div>
          
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Comments
            </div>
            <div class="card-body">
              <ul id="home-page-comments">
                <li>
                  <div class="card-pic" >
                    <div class="image_circle">
                      <img class="my_image img-fluid" src="static/pics/profile_pic.jpeg" alt="">
                    </div>
                  </div>
                  <div class="card-comment">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                  </div>
                  <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                  <hr>
                </li>
                <li>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                  <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                  <hr>
                </li>
                <li>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                  <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                  <hr>
                </li>
              </ul>
              <button href="#" class="btn btn-success">Leave a Comment</button>
              <div class="collapse card-body">
                  <div class="form-group">
                      <textarea id="comment_text" class="form-control"></textarea>
                      <button href="#" class="btn btn-success">Add Comment</button>
                  </div> 
              </div>
            </div>
          </div>
          

      </div>

    </div>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; CatsAreTheBest 2018</p>
      </div>
    </footer>

    <script src='{% static "js/jquery.min.js" %}'></script>
    <script src='{% static "js/bootstrap.bundle.min.js" %}'></script>

  </body>

</html>
