.post-box{
	width: 800px;
	height: 400px;
	background-color: blue;
	position: relative;
}

.case_box{
	width: 800px;
	height: 400px;
	background-color: green;
	/*position: relative;*/
}
.width-max{
	width: 100%;
}

.post-list{
	width: 800px;
	height: 2000px;
	background-color: grey; 
}

.green{
	background-color: green;
}

.pcc-button{
	background-color: green;
	height: 30px;
	width: 100px;
}
.empty-button{
	background-color: grey;
	height: 30px;
	width: 100px;
}

.case_field{
	float: left;
}

.case_title{
	width: 700px;
	height: 100px;
	background-color: green;
}